.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/like-icon-dark.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity color 0.3s;
  cursor: pointer;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 100%;
  color: #212121;
  background-repeat: no-repeat;
}

.card__like-button_liked {
  background-image: url(../images/like-icon-liked.svg);
  opacity: 1;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.card__like-button_liked:hover {
  background-image: url(../images/like-icon-liked-hover.svg);
  background-repeat: no-repeat;
}

.card__delete-button {
  background-image: url(../images/delete-button.svg);
  background-color: transparent;
  position: absolute;
  width: 32px;
  height: 32px;
  border: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 0;
}

.card__delete-button:hover {
  background-image: url(../images/delete-button-hover.svg);
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    max-width: 250px;
  }
}
